<%= f.fields_for :visitors, f.object.backfilled_visitors.drop(1) do |vf| %>
  <div class="additional-visitor" id="visitor-<%= vf.index %>">
    <hr>
    <h3 class="heading-medium"><%= t('.visitor', n: vf.index + 1) %></h3>

    <%= vf.text_field :first_name %>

    <%= vf.text_field :last_name %>

    <%= composite_field(vf, :date_of_birth) do %>
      <%= render('dob', form: vf) %>
    <% end %>
  </div>
<% end %>
