<div id="slot_<%= option_num %>" class="js-bookingCalendar calendar" data-target-id="dateValue" data-slot-source="slots_step_option_<%= option_num %>" data-slot-list="js-slotAvailability" data-slot-target="js-slotTarget" data-slot-number="<%= slot_number %>">

  <div id="month-wrap">
    <div id="bn_prev" role="button" aria-labelledby="bn_prev-label" tabindex="0"><img class="bn_img" src="<%= image_path('triangle-left.png') %>" alt="<<"/></div>
    <div id="month" class="bold-medium" role="heading" aria-live="assertive" aria-atomic="true"></div>
    <div id="bn_next" role="button" aria-labelledby="bn_next-label" tabindex="0"><img class="bn_img" src="<%= image_path('triangle-right.png') %>" alt=">>"/></div>
  </div>

  <table id="js-calendarTable" class="booking-calendar" role="grid" aria-activedescendant="errMsg" aria-label="Calendar" tabindex="0">
    <thead>
      <tr id="weekdays">
        <% each_day_of_week do |day| %>
          <th id="<%= I18n.l(day, format: :day_of_week) %>">
            <abbr title="<%= I18n.l(day, format: :day_of_week) %>"><%= I18n.l(day, format: :day_of_week) %></abbr>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr><td id="errMsg" colspan="7">Javascript must be enabled</td></tr>
    </tbody>
  </table>

  <div id="bn_prev-label" class="visuallyhidden">Go to previous month</div>
  <div id="bn_next-label" class="visuallyhidden">Go to next month</div>

</div>
