<% %i[day month year].each do |date_part| %>
  <div class="datefield form-group form-group-<%= date_part %>">
    <label for="<%= form.object_name %>_<%= field %>_<%= date_part %>">
      <%= t(date_part, scope: 'date.fields') %>
    </label>
    <input
      class="form-control"
      value="<%=
        form.object.send(field) ?
          form.object.send(field).send(date_part) : ''
        %>"
      type="number"
      min="<%= minimum_date_of_birth.send(date_part) %>"
      max="<%= maximum_date_of_birth.send(date_part) %>"
      name="<%= form.object_name %>[<%= field %>][<%= date_part %>]"
      id="<%= form.object_name %>_<%= field %>_<%= date_part %>"
      aria-describedby="<%= field %>_hint"
    />
  </div>
<% end %>
