<%= f.fields_for :visitors, f.object.backfilled_visitors.take(1) do |vf| %>
  <div id="visitor-0">
    <%= vf.text_field :first_name %>

    <%= vf.text_field :last_name %>

    <%= composite_field(vf, :date_of_birth) do %>
      <%= render('dob', form: vf) %>
    <% end %>

    <%= f.email_field :email_address %>

    <%= f.telephone_field :phone_no %>
  </div>
<% end %>
