<% content_for :header, t('.title') %>

<%= render('shared/timeout_prompt') %>

<%
  prisoner_step = @steps.fetch(:prisoner_step)
  visitors_step = @steps.fetch(:visitors_step)
  slots_step = @steps.fetch(:slots_step)
  confirmation_step = @steps.fetch(:confirmation_step)
%>

<div class="divider compact">
  <hr/>
  <%= form_for(confirmation_step,
               url: booking_requests_path,
               html: { class: 'js-SubmitOnce' }) do |f| %>
    <%= render('hidden_prisoner_step') %>
    <%= render('hidden_visitors_step') %>
    <%= render('hidden_slots_step') %>
    <%= hidden_field_tag('review_step', 'prisoner_step') %>

    <p class="edit-link float-right">
      <%= f.submit(t('.change_prisoner_details'), class: 'button button-secondary') %>
    </p>
  <% end %>

  <p class="lede"><%= t('.prisoner_details') %></p>

  <p>
    <span class="bold-small"><%= prisoner_step.full_name %></span>
    <br/>
    <%= t('.date_of_birth') %>
    <span class="bold-small"><%= format_date_of_birth(prisoner_step.date_of_birth) %></span>
    <br/>
    <%= t('.prisoner_number') %>
    <span class="bold-small"><%= prisoner_step.number %></span>
    <br/>
    <%= t('.prison') %>
    <span class="bold-small"><%= prisoner_step.prison_name %></span>
  </p>


</div>

<div class="divider compact">
  <hr/>
  <%= form_for(confirmation_step,
               url: booking_requests_path,
               html: { class: 'js-SubmitOnce' }) do |f| %>
    <%= render('hidden_prisoner_step') %>
    <%= render('hidden_visitors_step') %>
    <%= render('hidden_slots_step') %>
    <%= hidden_field_tag('review_step', 'visitors_step') %>

    <p class="edit-link float-right">
      <%= f.submit(t('.change_visitor_details'), class: 'button button-secondary') %>
    </p>
  <% end %>

  <p class="lede"><%= t('.visitor_details') %></p>

  <p>
    <%= t('.confirmation_email_address') %>
    <span class="bold-small">
      <%= visitors_step.email_address %>
    </span>


    <% visitors_step.visitors.each_with_index do |visitor, index| %>
      <br/>
        <%= t('.visitor_n', n: index + 1) %>
        <span class="bold-small"><%= visitor.full_name %></span>
        –
        <%= format_date_of_birth(visitor.date_of_birth) %>
    <% end %>
  </p>


</div>

<div class="divider compact visit-details">
  <hr/>
  <%= form_for(confirmation_step,
               url: booking_requests_path,
               html: { class: 'js-SubmitOnce' }) do |f| %>
    <%= render('hidden_prisoner_step') %>
    <%= render('hidden_visitors_step') %>
    <%= render('hidden_slots_step') %>
    <%= hidden_field_tag('review_step', 'slots_step') %>

    <p class="edit-link float-right">
      <%= f.submit(t('.change_visit_details'), class: 'button button-secondary') %>
    </p>
  <% end %>

  <p class="lede"><%= t('.your_visit') %></p>

  <% if slots_step.options_available? %>
    <p><%= t('.options_available') %></p>
  <% end %>

  <p>
    <%= t('.first_choice') %>
    <br/>
    <span class="bold-small">
      <%= format_slot_for_public(slots_step.slots.first) %>
    </span>
  </p>

  <% if slots_step.additional_options? %>
    <p>
      <%= t('.alternatives') %>
      <% slots_step.slots.drop(1).each do |slot| %>
        <br/>
        <span class="bold-small">
          <%= format_slot_for_public(slot) %>
        </span>
      <% end %>
  <% end %>

</div>

<div class="divider">
  <hr/>
  <%= link_to(t('.ts_and_cs'), terms_and_conditions_path, class: 'font-xsmall') %>

  <%= form_for(confirmation_step,
               url: booking_requests_path,
               html: { class: 'js-SubmitOnce' }) do |f| %>
      <%= render('hidden_prisoner_step') %>
      <%= render('hidden_visitors_step') %>
      <%= render('hidden_slots_step') %>
      <%= hidden_field_tag('confirmation_step[confirmed]', true) %>

      <div class="grid-row form-group push-top">
        <div class="column-one-half">
          <%= f.submit(t('.next_step'), class: 'button button-primary') %>
        </div>
        <div class="column-one-half text-right">
          <%= render('cancel') %>
        </div>
      </div>
    <% end %>
  </div>
</div>
