<% content_for :header, t('.title') %>

<%= render('shared/timeout_prompt') %>

<% if @steps.fetch(:slots_step).bookable_slots? %>

  <div class="grid-row">
    <div class="column-two-thirds">
      <% slot_number = @steps.fetch(:slots_step).next_slot_to_fill %>
      <% if slot_number == "0" %>
        <%= t(".info_html") %>
      <% end %>
    </div>
  </div>

  <%= form_for(@steps.fetch(:slots_step),
             url: booking_requests_path,
             html: { class: 'js-SubmitOnce', autocomplete: 'off' }) do |f| %>
    <%= render('hidden_prisoner_step') %>

    <% if @steps.fetch(:visitors_step)&.valid? %>
      <%= render('hidden_visitors_step') %>
    <% end %>

    <% @steps.fetch(:slots_step).slots.any? do %>
      <div class="grid-row">
        <div class="column-full">
          <p><%= t('.your_choices') %>:</p>
          <div class="grid-row">
            <% @steps.fetch(:slots_step).valid_options.each.with_index do |slot, index| %>
              <% className = (index == slot_number.to_i)? 'active' : '' %>
              <div class="column-one-third">
                <div class="date-box date-box--small <%= className %>" aria-live="assertive" aria-atomic="true" aria-relevant="text">
                  <span class="date-box__number"><%= index + 1 %></span>
                  <span class="date-box__day"><%= format_date_without_year(slot) %></span>
                  <br>
                  <span class="date-box__slot"><%= format_time_12hr(slot.begin_at) %> (<%= format_duration(slot.duration) %>)</span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <%= render('hidden_inputs_for_calendars', f: f) %>

    <div class="grid-row visible--js-enabled push-top">
      <div class="column-two-thirds">
        <h2 class="push-bottom--half"><%= t(".choose_date_#{slot_number}") %>:</h2>
        <%= render('booking_calendar', slots: f.object.slot_constraints, option_num: f.object.next_slot_to_fill) %>
      </div>
      <div class="column-one-third">
        <h2 id="slots" class="push-bottom--half"><%= t(".choose_time") %>:</h2>
        <div class="slot-selection">
          <fieldset>
            <legend class="visuallyhidden"><%= t(".choose_time") %></legend>
            <div id="js-slotAvailability" aria-describedby="slots" aria-live="assertive" aria-atomic="true" aria-relevant="additions removals"></div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-one-third">
        <div id="js-slotTarget" aria-hidden="true">
          <h3 class="push-bottom--half"><%= t('.your_selection') %>:</h3>
          <div class="date-box active" aria-live="assertive" aria-atomic="true" aria-relevant="text">
            <span class="date-box__number"><%= slot_number.to_i + 1 %></span>
            <span class="date-box__day"></span>
            <br>
            <span class="date-box__slot"></span>
            <% if slot_number.to_i > 0 && reviewing? %>
            <br>
            <a href="#" class="date-box__action"><%= t(".remove_slot") %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-row push-top">
      <div class="column-two-thirds">
        <div class="grid-row">
          <div class="column-one-half">
            <% if reviewing? %>
              <p><%= f.submit(t(".confirm_amend"), class: 'button button-primary') %></p>
            <% else %>
              <%= f.submit(t(".submit_#{slot_number}"), class: 'button button-primary') %>
              <p class="push-top"><a class="button button-link" id="js-skipSlot" href="#"><%= t('.no_more_to_add') %></a></p>
            <% end %>
          </div>
        <div class="column-one-half text-right">
          <%= render('cancel') %>
        </div>
      </div>
    </div>

  <% end %>

    <div class="column-two-thirds">
      <%= render('contact_prison') %>
    </div>

<% else %>

  <%= markdown t('.no_availability_md') %>

<% end %>
