<% content_for :header, t('.title') %>
<%= render('shared/timeout_prompt') %>

<% if @steps[:slots_step].unable_to_add_more_slots? %>
  <div class="notice push-top push-bottom">
    <i class="icon icon-information">
      <span class="visuallyhidden"><%= t('.warning') %></span>
    </i>
    <strong class="bold-small"><%= t('.no_more_slots') %></strong>
  </div>
<% end %>

<%= form_for(@steps.fetch(:visitors_step), url: booking_requests_path, html: { class: 'js-SubmitOnce', autocomplete: 'off' }) do |f| %>

  <%= render('hidden_prisoner_step') %>
  <%= render('hidden_slots_step', currently_filling: @steps.fetch(:slots_step).currently_filling, skip_remaining_slots: 'true') %>
  <%= render('shared/validation', object: f.object) %>
  <div class="grid-row">
    <div class="column-two-thirds">
      <fieldset>
        <legend class="visuallyhidden">
          <%= t('.your_details') %>
        </legend>
        <%= render('principal_visitor', f: f) %>
        <div id="other-visitors">
          <p class="lede"><%= t('.other_visitors') %></p class="lede">
          <p>
            <%= t('.seating_arrangements', adult_age: f.object.adult_age) %>
          </p>
          <script type="text/html" id="additional-visitor-selector">
            <fieldset>
              <legend class="visuallyhidden">
                <%= t('.other_visitors') %>
              </legend>
              <div class="group group--inline">
                <%= single_field(f, :additional_visitor_count, :select,
                                 additional_visitor_selections(f.object),
                                 {},
                                 class: 'js-RevealAdditional form-control',
                                 data: { target_els: '.additional-visitor' }) %>
              </div>
            </fieldset>
          </script>
          <script>
           document.write(
             document.getElementById('additional-visitor-selector').innerHTML
           );
          </script>
        </div>
        <%= render('additional_visitors', f: f) %>
        <div class="grid-row form-group">
          <div class="column-one-half">
            <p><%= f.submit(t('.next_step'), class: 'button button-primary') %></p>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>
<%= render('contact_prison') %>
