<% if @visit.can_cancel? || @visit.can_withdraw? %>
  <div id='cancel-visit'>
    <h2 class="heading-medium"><%= t('visits.shared.cancel_title') %></h2>
    <p><%= t('visits.shared.cancel_intro') %></p>
    <%= form_tag(cancellations_path, class: 'js-SubmitOnce' ) do %>
      <%= hidden_field_tag(:id, @visit.human_id) %>
      <div class="form-group">
        <div class="multiple-choice push-bottom">
          <%= check_box_tag(:confirmed) %>
          <label for="<%= :confirmed %>">
            <%= t('visits.shared.cancel_confirm') %>
          </label>
        </div>
      </div>

      <div class="form-group">
        <%= submit_tag(t('visits.shared.cancel_cta'), class: 'button button-primary') %>
      </div>
    <% end %>
  </div>
<% end %>
