<div class="grid-row">
  <div class="column-one-third">
    <dl>
      <dt><%= t('.location') %></dt>
      <dd class="h3">
        <span class="bold-small">
          <%= @visit.prison_name %>
          <br/>
          <%= add_line_breaks(@visit.prison_address) %>
          <br/>
          <%= @visit.prison_postcode %>
        </span>
      </dd>
    </dl>
    <p class="map-link">
      <%= link_to(t('.google_maps'),
                  link_directory.google_maps(@visit.prison_postcode)) %>
    </p>
  </div>
  <div class="column-one-third">
    <dl>
      <dt><%= t('.phone_no') %></dt>
      <dd><span class="bold-small"><%= @visit.prison_phone_no %></span></dd>
      <dt><%= t('.email') %></dt>
      <dd><span class="bold-small"><%= mail_to(@visit.prison_email_address) %></span></dd>
    </dl>
  </div>
  <div class="column-one-third">
    <p class="visible--js-enabled">
      <%= link_to(t('.print_page'), '#', class: 'print-link') %>
    </p>
  </div>
</div>

<div class="grid-row push-top" id="info">
  <div class="column-one-third">
    <nav>
      <h2 class="heading-medium">
        <%= t('.instructions_nav_title', name: @visit.prison_name) %>
      </h2>

      <ul class="list list-bullet">
        <li>
          <a href="#info-what-to-bring"
            ><%= t('shared.visit_info.what_to_bring_title') %></a>
        </li>
        <li>
          <a href="#info-bringing-child"
            ><%= t('shared.visit_info.bringing_child_title') %></a>
        </li>
        <li>
          <a href="#info-what-to-expect"
            ><%= t('shared.visit_info.what_to_expect_title') %></a>
        </li>
        <li>
          <a href="#info-what-not-to-bring"
            ><%= t('shared.visit_info.what_not_to_bring_title') %></a>
        </li>
        <li>
          <a href="#cancel-visit" ><%= t('.cancel_title') %></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="column-two-thirds">
    <%= render('shared/visit_info', visit: @visit) %>

    <%= render('cancel_form') %>

    <div class="footnote">
      <p><%= link_to(t('.rate_service_html'), link_directory.rate_service) %></p>
    </div>
  </div>
</div>
