<% content_for :header, t('.title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <dl>
      <dt><%= t('.your_visit') %></dt>
      <dd>
        <span class="bold-small"><%= format_slot_for_public(@visit.slot_granted) %></span>
      </dd>
    </dl>
  </div>

  <div class="column-two-thirds">
    <dl>
      <dt><%= t('.location') %></dt>
      <dd>
        <span class="bold-small"><%= @visit.prison_name %></span>
      </dd>
    </dl>
  </div>

   <div class="column-two-thirds">
    <dl>
      <dt><%= t('.cancelled_on') %></dt>
      <dd>
        <span class="bold-small"><%= @visit.cancelled_at.to_s(:short) %></span>
      </dd>
    </dl>
  </div>

  <div class="column-two-thirds">
    <dl>
      <dt><%= t('.cancellation_reason') %></dt>
      <dd>
        <span class="bold-small"><%= t(".#{@visit.cancellation_reason}") %></span>
      </dd>
    </dl>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <p><%= t('visits.shared.request_new_visit_html', url: booking_requests_path) %></p>
  </div>
</div>

<%= render 'visit_id' %>
