<% content_for :header, t('.title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <p><%= t('.intro') %></p>

    <p><%= t('.not_received') %></p>

    <p><%= t('visits.shared.avoid_spam_filtering_html',
             email: address_book.no_reply) %></p>

    <% if @visit.messages.any? %>
      <p><strong><%= t('.message_title') %></strong><br>
      <%= @visit.messages.first.body %></p>
    <% end %>

    <p><%= t('visits.shared.request_new_visit_html',
             url: booking_requests_path) %></p>
  </div>
</div>
