<% content_for :pagetitle, t('.title') %>

<div class="govuk-box-highlight">
  <h2 class="bold-large push-bottom">
    <i class="icon icon-tick push-right--half">
      <span class="visually-hidden"><%= t('.tick') %></span>
    </i>
    <%= t('.title') %>
  </h2>
  <%= t('.visit_id_html', id: @visit.human_id) %>
</div>

<p class="bold-small"><%= t('.subtitle', date: format_date_without_year(@visit.confirm_by)) %></p>

<h3 class="heading-medium"><%= t('.what_happens_next') %></h3>

<%= t('.info_html') %>

<h3 class="bold-medium push-top"><%= t('.visit_details_title') %></h3>
<p class="bold-small"><%= t('.requested_date') %></p>

<div class="grid-row">
  <% @visit.slots.each_with_index do |slot, index| %>
    <div class="column-one-third">
      <div class="date-box">
        <span class="date-box__number"><%= index + 1 %></span>
        <span class="date-box__day"><%= format_date_without_year(slot) %></span>
        <br><%= format_time_12hr(slot.begin_at) %> (<%= format_duration(slot.duration) %>)
      </div>
    </div>
  <% end %>
</div>

<h3 class="heading-medium" id="contact-prison"><%= t('.prison_details') %></h3>

<dl>
  <dt class="bold-small"><%= @visit.prison_name %></dt>
  <dd>
    <span>
      <%= add_line_breaks(@visit.prison_address) %>
      <br/>
      <%= @visit.prison_postcode %>
    </span>
  </dd>
</dl>
<p class="map-link">
  <%= link_to(t('.google_maps'), link_directory.google_maps(@visit.prison_postcode)) %>
</p>
<dl>
  <dt class="float-left"><%= t('.phone_no') %>:&nbsp;</dt>
  <dd><span class="bold-small"><%= @visit.prison_phone_no %></span></dd>
  <dt class="float-left"><%= t('.email') %>:&nbsp;</dt>
  <dd><span class="bold-small"><%= mail_to(@visit.prison_email_address) %></span></dd>
</dl>

<hr>
<details id="cancel-visit-section">

  <summary><span class="summary"><%= t('.cancel_visit') %></span></summary>

  <div class="panel panel-border-narrow">

    <%= render('cancel_form') %>

  </div>

</details>

<% if @request_completed %>
  <div class="visuallyhidden js-AsyncGA"
    data-ga-tracking-id="<%= config_item :ga_id %>"
    data-page-view="request_completed_slots_<%= @visit.slots.size %>"></div>
<% end %>
