<% content_for :header, t('.title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <p class="lede"><%= t('.subtitle') %></p>

    <p><%= t('.intro') %></p>

    <p><%= t('.not_received') %></p>

    <p><%= t('visits.shared.avoid_spam_filtering_html',
             email: address_book.no_reply) %></p>

    <p><%= t('.cancel_pre_intro_html') %></p>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <p class="lede"><%= t('.visit_details_title') %></p>

    <dl>
      <dt><%= t('.your_visit') %></dt>
      <dd>
        <ul class="list visit-times">
          <% @visit.slots.each_with_index do |slot, index| %>
            <li>
              <%= t(".option_#{index}") %>
              <span class="bold-small"><%= format_slot_for_public(slot) %></span>
            </li>
          <% end %>
        </ul>
      </dd>
    </dl>
  </div>
</div>

<%= render 'visiting_info' %>
