<% content_for :header do %>
  <%= t('.title') %>
<% end %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h2 class="heading-medium"><%= t('.about_your_booking') %></h2>
    <p><%= t('.intro_html', url: link_directory.prison_finder) %></p>
    <%= t('.contact_list_html') %>
    <h2 class="heading-medium"><%= t('.about_this_service') %></h2>
    <p><%= t('.problems') %></p>

    <%=
      form_for(
        @feedback,
        url: feedback_submissions_path,
        html: {
          novalidate: 'novalidate',
          class: 'js-SubmitOnce',
          autocomplete: 'off'
        }
      ) do |f|
    %>
      <%= render('shared/validation', object: f.object) %>
      <%= f.hidden_field :referrer %>
      <fieldset>
        <legend class="visuallyhidden">
          <%= t('.feedback_form') %>
        </legend>
        <%= single_field(f, :body, :text_area, cols: 50, rows: 5, class: 'form-control') %>
      </fieldset>
      <fieldset>
        <%= single_field(f, :prisoner_number, :text_field, class: 'form-control') %>
        <%= composite_field(f, :date_of_birth) do %>
          <%= render('booking_requests/dob', form: f, field: :date_of_birth) %>
        <% end %>
        <%= single_field(f, :prison_id, :select,
        Prison.all.map { |p| [p.name, p.id] },
        { prompt: t('.prison_id_prompt') },
        { class: 'js-autocomplete' }) %>
        <%= single_field(f, :email_address, :email_field, class: 'form-control') %>
        <div class="actions">
          <%= f.submit(t('.send'), class: 'button button-primary') %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
