<% content_for :page_title do %>
  <%= page_title(yield(:pagetitle)) %>
<% end %>



<% content_for :head do %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag('application', media: 'all') %>

<% end %>



<% content_for :proposition_header do %>
  <div class="header-proposition">
    <div class="content">
      <nav id="proposition-menu" class="header__menu" role="navigation">
        <a href="/" id="proposition-name" class="header__menu__proposition-name"><%= t('app_title') %></a>
      </nav>
    </div>
  </div>
<% end %>

<% content_for :body_end do %>
  <%= content_tag :div, nil, class: "js-AsyncGA", data: ga_tracking_data %>
  <%= content_tag :div, nil, class: "js-Sentry", data: { sentry_js_dsn: config_item(:sentry_js_dsn) } %>

  <!--[if lte IE 8]>
  <%= javascript_include_tag('application_ie') %>
  <![endif]-->

  <!--[if gte IE 9]><!-->
  <%= javascript_include_tag('application') %>
  <!--<![endif]-->


<% end %>

<% content_for :content do %>
  <main id="content">
    <div class="phase-banner phase-banner-beta">
      <%= t('.feedback_banner_html', url: 'https://visit-someone-in-prison.form.service.justice.gov.uk') %>
    </div>
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          <%= t('.privacy_policy_header_text') %>
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          <%= t('.privacy_policy_header_html') %>
        </p>
      </div>
    </div>
    <header>
      <h1 class="heading-xlarge">
        <%= yield :header %>
      </h1>
    </header>

    <% if notice.present? %>
      <p class="error-summary">
        <%= notice %>
      </p>
    <% end %>

    <%= yield %>
  </main>
<% end %>

<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
  <title><%= :page_title %></title>

  <%= csrf_meta_tags %>

  <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
  <%= tag :meta, property: 'og:image', content: asset_path('/govuk/assets/images/govuk-opengraph-image.png') %>
  <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>
  <%= favicon_link_tag asset_path('/govuk/assets/images/favicon.ico'), sizes: '48x48' %>
  <%= favicon_link_tag asset_path('/govuk/assets/images/favicon.svg'), type: 'image/svg+xml', sizes: 'any' %>
  <%= favicon_link_tag asset_path('/govuk/assets/images/govuk-icon-mask.svg'), rel: 'mask-icon', color: '#0b0c0c' %>
  <%= favicon_link_tag asset_path('/govuk/assets/images/govuk-icon-180.png'), rel: 'apple-touch-icon', type: 'image/png', size: '180x180' %>

  <%= javascript_include_tag "application", defer: true %>
  <%= stylesheet_link_tag "application" %>
  <%= content_for 'head' %>
</head>

<body class="govuk-template__body govuk-frontend-supported">

<%= govuk_skip_link %>

<%= govuk_header(homepage_url: "/", service_name: t("service.name")) %>

<div class="govuk-width-container">
  <%= govuk_phase_banner(tag: { text: "Beta" }, text: "This is a new service – your feedback will help us to improve it. ") %>
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <%= yield %>
  </main>
</div>

<% alternative_locales.each do |locale| %>
  <% if controller_name == 'errors' %>
    <% @alternative_locale = {language: t('language', locale: locale), url: "/#{response.status}?locale=#{locale}"}%>
  <% else %>
    <% @alternative_locale = {language: t('language', locale: locale), url: locale}%>
  <% end %>
<% end %>

<%= govuk_footer(meta_items_title: "Support links", meta_items: {
  t('.cookies') => cookies_path,
  t('.ts_and_cs') => terms_and_conditions_path,
  t('.privacy_policy') => privacy_policy_path,
  t('.contact_us_html', url: 'https://visit-someone-in-prison.form.service.justice.gov.uk') => 'https://visit-someone-in-prison.form.service.justice.gov.uk',
  @alternative_locale[:language] => "/#{@alternative_locale[:url]}"
}) %>

</body>
</html>
