<% content_for :page_title do %>
  <% if content_for?(:pagetitle) %>
    <%= page_title(yield(:pagetitle)) %>
  <% else %>
    <%= page_title(yield(:header)) %>
  <% end %>
<% end %>

<% content_for :head do %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag('application', media: 'all') %>
  <!--[if IE 8]>
    <%= stylesheet_link_tag('application-ie8', media: 'all') %>
    <meta http-equiv="X-UA-Compatible" content="IE=8" >
  <![endif]-->
<% end %>

<aside id="cookie-message">
  <p>
    <%= t('.cookies_intro_explanation') %>
  </p>
  <p>
    <%= t('.cookies_question') %>
  </p>
    <button id="accept-cookies" class="button"><%= t('.accept_cookies')%></button>
    <button id="reject-cookies" class="button"><%= t('.reject_cookies')%></button>
    <a class="mtp-cancel-button" href="cookies"><%= t('.view_more_information')%></a>
</aside>

<% content_for :proposition_header do %>
  <div class="header-proposition">
    <div class="content">
      <nav id="proposition-menu" class="header__menu" role="navigation">
        <a href="/" id="proposition-name" class="header__menu__proposition-name"><%= t('app_title') %></a>
      </nav>
    </div>
  </div>
<% end %>

<% content_for :body_end do %>
  <%= content_tag :div, nil, class: "js-AsyncGA", data: ga_tracking_data %>
  <%= content_tag :div, nil, class: "js-Sentry", data: { sentry_js_dsn: config_item(:sentry_js_dsn) } %>

  <!--[if lte IE 8]>
    <%= javascript_include_tag('application_ie') %>
  <![endif]-->

  <!--[if gte IE 9]><!-->
    <%= javascript_include_tag('application') %>
  <!--<![endif]-->


<% end %>

<% content_for :content do %>
  <main id="content">
    <div class="phase-banner phase-banner-beta">
      <%= t('.feedback_banner_html', url: 'https://visit-someone-in-prison.form.service.justice.gov.uk') %>
    </div>
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          We have updated our privacy policy. It explains how we use your data.
          <a class="govuk-notification-banner__link" href="/privacy-policy">View the privacy policy</a>.
        </p>
      </div>
    </div>
    <header>
      <h1 class="heading-xlarge">
        <%= yield :header %>
      </h1>
    </header>

    <% if notice.present? %>
      <p class="error-summary">
        <%= notice %>
      </p>
    <% end %>

    <%= yield %>
  </main>
<% end %>

<% content_for :footer_support_links do %>
  <ul>
    <li>
      <%= link_to(t('.cookies'), cookies_path) %>
    </li>
    <li>
      <%= link_to(t('.ts_and_cs'), terms_and_conditions_path) %>
    </li>
    <li>
      <%= link_to(t('.privacy_policy'), privacy_policy_path) %>
    </li>
    <li>
      <%= t('.contact_us_html', url: 'https://visit-someone-in-prison.form.service.justice.gov.uk') %>
    </li>
    <% alternative_locales.each do |locale| %>
      <li>
        <% if controller_name == 'errors' %>
          <%= link_to(t('language', locale: locale), "/#{response.status}?locale=#{locale}")%>
        <% else %>
          <%= link_to(t('language', locale: locale), locale: locale) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render(template: 'layouts/govuk_template') %>
